{% extends "template.njk" %}
{% from "macros/csrf.njk" import csrfProtection %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="/" autocomplete="off" novalidate>
        {{ csrfProtection(csrfToken) }}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="request-type-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-xl">Support tools</span>
              <h1 class="govuk-fieldset__heading">
                What type of request would you like to make?
              </h1>
            </legend>
            <div id="request-type-hint" class="govuk-hint">
              Select one option.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="request-type-bulk" name="requestType" type="radio" value="bulk">
                <label class="govuk-label govuk-radios__label" for="request-type-bulk">
                  Bulk
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="request-type-singular" name="requestType" type="radio" value="singular">
                <label class="govuk-label govuk-radios__label" for="request-type-singular">
                  Singular
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button" type="submit">
          Continue
        </button>
      </form>
    </div>
  </div>
{% endblock %}
