{% extends "template.njk" %}
{% from "macros/csrf.njk" import csrfProtection %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="/" class="govuk-back-link">Back</a>

      <form method="post" action="/singular" autocomplete="off" novalidate>
        {{ csrfProtection(csrfToken) }}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="singular-request-type-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-xl">Support tools</span>
              <h1 class="govuk-fieldset__heading">
                What type of singular request would you like to make?
              </h1>
            </legend>
            <div id="singular-request-type-hint" class="govuk-hint">
              Select one option.
            </div>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="singular-request-type-final-state-transition" name="singularRequestType" type="radio" value="final-state-transition">
                <label class="govuk-label govuk-radios__label" for="singular-request-type-final-state-transition">
                  Final state transition
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="singular-request-type-rollback" name="singularRequestType" type="radio" value="rollback">
                <label class="govuk-label govuk-radios__label" for="singular-request-type-rollback">
                  Rollback
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button" type="submit">
          Continue
        </button>
      </form>
    </div>
  </div>
{% endblock %}
