<div class="govuk-grid-row">
  <form
    class="form"
    id="wizard-step-form"
    [formGroup]="requestTypeForm"
    (ngSubmit)="$event.preventDefault()"
    novalidate
  >
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="support-options-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">Please select one of the following options</h2>
        </legend>

        <div id="request-type-hint" class="govuk-hint">Choose the type of request you want to make.</div>

        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="request_type_single"
              name="requestType"
              formControlName="requestType"
              type="radio"
              [value]="true"
            />
            <label class="govuk-radios__label" for="request_type_single"> Singular Request </label>
          </div>

          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="request_type_choice_bulk"
              name="requestType"
              formControlName="requestType"
              type="radio"
              [value]="false"
            />
            <label class="govuk-radios__label" for="request_type_choice_bulk"> Bulk Request </label>
          </div>
        </div>
      </fieldset>
    </div>
  </form>
</div>
