<% if (htmlWebpackPlugin && htmlWebpackPlugin.files && htmlWebpackPlugin.files.css && htmlWebpackPlugin.files.css.length) { %>
  <% for (var i = 0; i < htmlWebpackPlugin.files.css.length; i++) { %>
    <link nonce="{{ cspNonce }}" href="<%= htmlWebpackPlugin.files.css[i] %>" rel="stylesheet">
  <% } %>
<% } %>
