<script nonce="{{ cspNonce }}">window.__webpack_nonce__ = "{{ cspNonce }}";</script>

<% if (htmlWebpackPlugin && htmlWebpackPlugin.files && htmlWebpackPlugin.files.js && htmlWebpackPlugin.files.js.length) { %>
  <% for (var i = 0; i < htmlWebpackPlugin.files.js.length; i++) { %>
    <script nonce="{{ cspNonce }}" src="<%= htmlWebpackPlugin.files.js[i] %>"></script>
  <% } %>
<% } %>
